include nav/nav.pug

mixin navbar(props = {})
  - const rootClassName = "navbar";
  - const className = props.class || null;
  - const style = props.style || null;
  - const menuItems = props.menuItems || [];
  - const extra = props.extra || [];
  -
    const classes = [
      rootClassName,
      className,
      "py-24"
    ];

  nav(
    class = classes 
    style = style
  )
    // Start: [container] 
    +container()
      
      // Start: [stack] 
      +stack({class: "justify-content-flex-end"})
        
        // Start: [menu] 
        div(
          class = [
            "menu", 
            "display-flex",
            "justify-content-space-between",
            "md:justify-content-flex-start",
            "align-items-center"
          ]
        )
          +nav({items: menuItems})
          each item in extra
            +button({
              class: "md:mt-24",
              as: "a", 
              link: item.link
            }) #{item.label}
        // End: [menu] 

        // Start: [menu-control]
        button(class = "menu-control")
          span
          span
          span
        // End: [menu-control]
      // End: [stack] 
    // End: [container] 