@import "@styles/common/vars";
@import "@styles/utils/breakpoint";

$root-class: "index-page";

.#{$root-class} {
  padding-bottom: 250px;

  @include breakpoint(lg) {
    padding-bottom: 0;
  }

  @import "./_blocks/blocks";
}