include column/column.pug

mixin grid(props = {})
  - const rootClassName = "grid";
  - const className = props.class || null;
  - const style = props.style || null;
  -
    const classes = [
      rootClassName,
      className
    ];

  div(
    class = classes 
    style = style
  )
    block