/*
* Fonts
*/

$font-family: "JetBrainsMono";
$font-family-alt: "Monument";
$font-weights: (
  regular: 400,
  heavy: 800,
);
$font-base-size: 16px;
$font-root-path: "../../assets/fonts";

/*
* Colors
*/

$light: #FFFFFF;
$light-purple: #BEB3C7;
$accent-blue: #1C51FE;
$background-color: #1E053A;
$background-gradient: linear-gradient(114.88deg, #110929 -2.45%, #290049 58.38%, #1D0E49 101.84%);

/*
* Grid
*/

$grid-column-count: 12;
$grid-column-gap: 20px;

$container-width: (
  default: 1140px,
  xl: 960px,
  lg: 720px,
  md: 540px,
  sm: 100%,
);

$breakpoints: (
  xl: 1200px,
  lg: 990px,
  md: 770px,
  sm: 580px,
);

/*
* Spacing Directions
*/

$spacing-directions: (
  top,
  left,
  right,
  bottom
);

/*
* Display
*/

$display-props: (
  block,
  inline-block,
  flex,
  inline-flex,
  none
);

/*
* Flex Direction
*/

$flex-direction-props: (
  "row",
  "column",
  "row-reverse",
  "column-reverse"
);

/*
* Justify Content
*/

$justify-content-props: (
  "flex-start",
  "flex-end",
  "center",
  "space-between",
  "space-around",
  "space-evenly"
);

/*
* Align Items
*/

$align-items-props: (
  "flex-start",
  "flex-end",
  "center",
  "baseline",
  "stretch"
);

/*
* Wrap
*/

$flex-wrap-props: (
  "nowrap",
  "wrap",
  "wrap-reverse"
);