$root-class: "typography";

$heading-variants: (
  h1: (
    default: (font-size: 110px, line-height: 120px),
    xl: (font-size: 90px, line-height: 110px),
    lg: (font-size: 70px, line-height: 80px),
    md: (font-size: 50px, line-height: 60px),
    xs: (font-size: 40px, line-height: 50px),
  ),
  h4: (
    default: (font-size: 24px, line-height: 26px),
  )
);

.#{$root-class} {
  display: block;

  /*
  * Fonts
  */

  &\:font-main {
    font-family: $font-family;
  }

  &\:font-alt {
    font-family: $font-family-alt;
  }

  /*
  * Weigths
  */

  @each $weight, $value in $font-weights {
    &\:weight-#{$weight} { font-weight: $value; }
  }

  /*
  * Headings
  */

  @each $heading, $breakpoints in $heading-variants {
    &\:variant-#{$heading} {
      font-family: $font-family-alt;
      font-weight: map-get($map: $font-weights, $key: heavy);
      letter-spacing: -2px;

      @each $breakpoint-name, $breakpoint-styles in $breakpoints {
        $current-breakpoint-style: map-get($map: $breakpoints, $key: $breakpoint-name);
        @if $breakpoint-name == default {
          @include each-styles($current-breakpoint-style);
        } @else {
          @include breakpoint($breakpoint-name) {
            @include each-styles($current-breakpoint-style);
          }
        }
      }
    }
  }

  /*
  * Body text
  */

  &\:body-default {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -2px;
  }

  /*
  * Other
  */

  span {
    display: block;
    overflow: hidden;
  }
}