$root-class: "nav";

.#{$root-class} {
  display: flex;

  &__link {
    display: block;
    padding: 24px 16px;
    color: $light;
    text-decoration: none;
    transition: 0.3s transform;

    &:hover {
      transform: translateY(-4px);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  @include breakpoint(md) {
    flex-direction: column;
    text-align: center;
  }
}