$root-class: "intro-section";

.#{$root-class} {
  &__main {
    width: 70%;
  }

  &__button {
    flex: 0 0 auto;
  }

  &__counter {
    gap: 90px;
  }

  &__counter-item {
    p {
      color: $light-purple;
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
    width: 570px;
    height: 690px;

    .nft-img {
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 20px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);

      &-1 {
        z-index: 3;
        width: 510px;
        height: 690px;
      }

      &-2 {
        left: 70px;
        z-index: 2;
        width: 470px;
        height: 636px;
      }

      &-3 {
        left: 140px;
        z-index: 1;
        width: 430px;
        height: 582px;
      }
    }
  }

  &__badge {
    position: absolute;
    bottom: -50px;
    left: -50px;
    z-index: 4;
    width: 120px;
    height: 120px;
    background: url("../../../assets/images/badge.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__bg-img {
    .bg-img {
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;

      &-1 {
        top: -60px;
        left: -350px;
        width: 400px;
        height: 400px;
        background-image: url("../../../assets/images/bg-1.png");
      }

      &-2 {
        top: -330px;
        right: -220px;
        width: 600px;
        height: 600px;
        background-image: url("../../../assets/images/bg-2.png");
      }
    }
  }

  @include breakpoint(xl) {
    &__slider {
      right: 0;
    }
  }

  @include breakpoint(lg) {
    &__main {
      width: 100%;
    }

    &__slider {
      position: relative;
      top: auto;
      right: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      grid-gap: 20px;
      width: 100%;
      height: 100%;

      .nft-img {
        position: relative;

        &-1,
        &-2,
        &-3 {
          left: auto;
          width: 100%;
          height: 400px;
        }
      }
    }

    &__badge {
      display: none;
    }

    &__bg-img {
      display: none;
    }
  }

  @include breakpoint(sm) {
    &__main {
      text-align: center;
    }

    &__counter {
      gap: 30px;
    }

    &__slider {
      grid-template-columns: 1fr;
    }
  }
}