include /components/components.pug

block vars
- const appData = require("@src/content/app.json");
- const rootClassName = "app-layout";

doctype html
html(lang="ru")
  head
    meta(charset = "UTF-8")
    meta(
      http-equiv = "X-UA-Compatible", 
      content="IE=edge"
    )
    meta(
      name = "viewport", 
      content = "width=device-width, initial-scale=1.0"
    )
    meta(
      name = "description" 
      content = appData.meta.description
    )
    meta(
      name = "keywords" 
      content = appData.meta.keywords.join(",")
    )

    block title
    
  body(classs = rootClass)

    // ---------- Start: [Navbar] ----------
    +navbar({
      menuItems: appData.navigation.header
    })

    // ----------- End: [Navbar] -----------
  
    // ---------- Start: [Main] ----------
    main(class = [
      `${pageClass}`,
      `${rootClassName}-content`
    ])
      block content
      
    // ----------- End: [Main] -----------